h1 {
  font-family: 'Bungee Inline', cursive;
  color: #FFF4E3;
}
h3 {
    font-family: 'Jura', sans-serif;
    color: white;
  }
  h4 {
    font-family: 'PT Mono', monospace;
  }
.jumbotron {
  background-image: url(img/bg1-1.jpg);
  background-size: cover;
  }
