h1 {
  font-family: 'Bungee Inline', cursive;
  color: #FFF4E3;
}
h3 {
    font-family: 'Jura', sans-serif;
    color: white;
  }
  h4 {
    font-family: 'PT Mono', monospace;
  }
.jumbotron {
  background-image: url(img/bg1-1.jpg);
  background-size: cover;
  }
  #rudr_instafeed{
    list-style:none
  }
  #rudr_instafeed li{
    float:left;
    width:200px;
    height:200px;
    margin:10px
  }
  #rudr_instafeed li img{
    max-width:100%;
    max-height:100%;
  }
