h1, h2, h3, h4 {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.fon {
  background-image: url(img/bg1.jpg);
  background-size: cover;
  height:100%;
  justify-content: center;
  display: flex;
}
